@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Pixelify Sans", sans-serif;
    color: black;
    font-size: 60px;
    font-weight: 700;
    text-decoration: none;
}

.title-position {
    text-align: center;
    margin-top: 20px;
}

.title:hover 
{
    background: linear-gradient(to right, rgb(5, 24, 46), rgb(128, 0, 0)); /* Gradient from red to green */
    -webkit-background-clip: text; /* Clip background for Safari */
    background-clip: text; /* Apply background gradient to text */
    color: transparent; /* Make text color transparent to reveal the gradient */
    text-transform: uppercase; /* Transform text to uppercase */
}

.game-container {
    max-width: 1350px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.score {
    padding: 2px;
    background-color:#f3f3f3 ;
    font-size: 1.8rem;
    color: #333;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.game-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.game-image:hover {
    transform: scale(1.05);
}

.button-container {
    margin-top: 20px;
}

.game-button {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    font-size: 30px;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #1e4319;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.game-button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra più pronunciata */

    transform: scale(1.1);
    background-color: #218838;
}

.swing {
    height: 200px;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    position: relative;  /* Aggiunto per il posizionamento */
    top: -40px; /* Modifica il valore per alzarlo */
}

.swing img {
    display: block;
}

.swing:after {
    content: '';
    position: absolute; /* Cambiato da relative a absolute */
    width: 20px;
    height: 20px;
    top: -20px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.swing:before {
    content: '';
    position: absolute; /* Cambiato da relative a absolute */
    width: 5px;
    height: 5px;
    top: -14px;
    left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
